<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/hotels' ? 'active' : '' %>" href="/all-hotel">All hotels</a>
            </li>





        </ul>
        <ul class="main-header__item-list">
            <% if (!isAuthenticated) { %>

                <li class="main-header__item">
                    <a class="<%= path === '/user/signin' ? 'active' : '' %>" href="/user/signin">Login</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/user/signup' ? 'active' : '' %>" href="/user/signup">Signup</a>
                </li>
                <% }
                else { %>
                    <li class="main-header__item">
                        <a class="<%= path === '/user/signout' ? 'active' : '' %>" href="/user/signout">Signout</a>
                    </li>
            <% } %>

        </ul>
    </nav>
</header>

<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/hotels' ? 'active' : '' %>" href="/all-hotel">All hotels</a>
        </li>



        <% if (!isAuthenticated) { %>


        <li class="mobile-nav__item">
                <a class="<%= path === '/user/signin' ? 'active' : '' %>" href="/user/signin">Login</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/user/signup' ? 'active' : '' %>" href="/user/signup">Signup</a>
            </li>
        <% }
        else { %>
            <li class="mobile-nav__item">
                <a class="<%= path === '/user/signout' ? 'active' : '' %>" href="/user/signout">Signout</a>
            </li>
        <% } %>
    </ul>
</nav>