<main>
    <% if (Object.keys(htls).length > 0) { %>
        <div class="grid">
            <% for ( hotel in htls) {
            if(htls.hasOwnProperty(hotel)){%>
                <article class="card hotel-item">
                    <header class="card__header">
                        <h1 class="hotel__title"><%= htls[hotel].Property_Name %></h1>
                    </header>


                    <div class="card__image">
                        <img src="<%= htls[hotel].Image_Url %>"
                             alt="<%= htls[hotel].Property_Name %>">
                    </div>
                    <div class="card__content">
                        <h3 class="hotel__description"><a href="/hotel/<%= htls[hotel].id %>">Hotel ID: <%= htls[hotel].id %></a> </h3>
                        <p class="hotel__price">Rating: <%= htls[hotel].Site_Review_Rating %></p>
                        <p class="hotel__description">Address: <%= htls[hotel].Address %></p>
                        <p class="hotel__description">Locality: <%= htls[hotel].Locality %></p>
                        <p class="hotel__description">City: <%= htls[hotel].City %></p>
                        <p class="hotel__description">Description: <%= htls[hotel].Hotel_Description %></p>
                        <p class="hotel__price">Facilities: <%= htls[hotel].Room_Facilities %></p>
                        <p class="hotel__description">Category: <%= htls[hotel].Property_Type %></p>
                        <p class="hotel__price">Type: <%= htls[hotel].Room_Type %></p>
                        <p class="hotel__description">Info: <%= htls[hotel].Additional_info %></p>
                        <p class="hotel__description">Room type: <%= htls[hotel].Room_Type %></p>
                    </div>

                </article>
            <% }} %>
        </div>
        <%- include('./includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
    <% } else { %>
        <h1>No hotels Found!</h1>
    <% } %>
</main>