<main>
    <% if (Object.keys(htls).length > 0) { %>
        <div class="grid">
            <% for ( hotel in htls) {
            if(htls.hasOwnProperty(hotel)){%>
                <article class="card hotel-item">
                    <header class="card__header">
                        <h1 class="hotel__title"><%= htls[hotel].Property_Name %></h1>
                    </header>


                    <div class="card__image">
                        <img src="<%= htls[hotel].Image_Url %>"
                             alt="<%= htls[hotel].Property_Name %>">
                    </div>
                    <div class="card__content">
                        <h3 class="hotel__description"><a href="/hotel/<%= htls[hotel].id %>">Hotel ID: <%= htls[hotel].id %></a> </h3>
                        <p class="hotel__price"><b>Rating:</b> <%= htls[hotel].Site_Review_Rating %>/5</p><br>
                        <p class="hotel__description"><b>Address:</b> <%= htls[hotel].Address %></p><br>
                        <p class="hotel__description"><b>Locality:</b> <%= htls[hotel].Locality %></p><br>
                        <p class="hotel__description"><b>City: </b><%= htls[hotel].City %></p><br>
                        <p class="hotel__description"><b>Category: </b><%= htls[hotel].Property_Type %></p><br>
                        <p class="hotel__price"><b>Type: </b><%= htls[hotel].Room_Type %></p><br>
                        <p class="hotel__description"><b>Info: </b><%= htls[hotel].Additional_info %></p><br>
                        <p class="hotel__description"><b>Room type:</b> <%= htls[hotel].Room_Type %></p><br>
                    </div>

                </article>
            <% }} %>
        </div>
        <%- include('./includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
    <% } else { %>
        <h1>No hotels Found!</h1>
    <% } %>
</main>